social_oms_integration/force-app/main/default/flows/Create_Order_Summary_Export.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>DEFAULT_ATTEMPT_COUNTER</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>IsExportStatus</name>
        <label>IsExportStatus</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting to Fulfill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partially Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NewStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Summary_Export_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Create Order Summary Export {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Order Summary Export</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Summary_Export_Records</name>
        <label>Create Order Summary Export Records</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <inputAssignments>
            <field>Created_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Export_Attempt_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Export_Attempts_Counter__c</field>
            <value>
                <elementReference>DEFAULT_ATTEMPT_COUNTER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Summary_Id__c</field>
            <value>
                <elementReference>$Record.OrderSummary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummaryExport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsExportStatus</targetReference>
        </connector>
        <object>OrderSumStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
