social_oms_integration/force-app/main/default/flows/Export_Order_Summary_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Export_Order_Summary</name>
        <label>Export Order Summary</label>
        <locationX>473</locationX>
        <locationY>288</locationY>
        <actionName>ExportOrderSummaryStatus</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>isError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Input_Assignment</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ResponseCode</assignToReference>
            <name>ErrorCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ResponseMessage</assignToReference>
            <name>ErrorMsg</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OrderSummaryId</assignToReference>
            <name>OrderSummaryId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Fault_Input_Assignment</name>
        <label>Fault Input Assignment</label>
        <locationX>935</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>ResponseCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAULT_RESPONSE_CODE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResponseMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FAULT_RESPONSE_MESSAGE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>IsMaxAttemptsExceeded</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FAULT_RESPONSE_CODE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>402</stringValue>
        </value>
    </constants>
    <constants>
        <name>FAULT_RESPONSE_MESSAGE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>APEX FAULT ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>MAXIMUM_ATTEMPT_COUNTER</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>SUCCESS_RESPONSE_CODe</name>
        <dataType>String</dataType>
        <value>
            <stringValue>200</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isError</name>
        <label>isError</label>
        <locationX>473</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Update_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResponseCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>SUCCESS_RESPONSE_CODe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsMaxAttemptsExceeded</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsMaxAttemptsExceeded</name>
        <label>IsMaxAttemptsExceeded</label>
        <locationX>275</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExceededMaximumAttempts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AttemptCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MAXIMUM_ATTEMPT_COUNTER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>IncrementCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Export_Attempts_Counter__c}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncrementExportDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.Export_Attempt_Date_Time__c}+(2/1440)</expression>
    </formulas>
    <interviewLabel>Export Order Summary Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Export Order Summary Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exeption</name>
        <label>Create Process Exeption</label>
        <locationX>143</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>ResponseMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>$Record.Order_Summary_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>407</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Export_Attempt_Date_Time__c</field>
            <value>
                <elementReference>IncrementExportDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Export_Attempts_Counter__c</field>
            <value>
                <elementReference>IncrementCounter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Completed</name>
        <label>Update Completed</label>
        <locationX>671</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Exception_Msg__c</field>
            <value>
                <elementReference>ResponseMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Error</name>
        <label>Update Error</label>
        <locationX>143</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Process_Exeption</targetReference>
        </connector>
        <inputAssignments>
            <field>Exception_Msg__c</field>
            <value>
                <elementReference>ResponseMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Export_Attempt_Date_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Export_Attempts_Counter__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <object>OrderSummaryExport__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Scheduled_Export</name>
            <connector>
                <targetReference>Export_Order_Summary</targetReference>
            </connector>
            <label>Scheduled Export</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>Export_Attempt_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttemptCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Export_Attempts_Counter__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResponseCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
